{{ $item := . }}
{{ $link := $item.RelPermalink }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
{{ end }}

<div class="col-lg-12">
  <div class="card-simple" style="padding-bottom: 30px;">

    <div class="article-metadata">
      <span style="float: right;">{{ partial "functions/get_publication_date" $item }}</span>
    </div>

    <h3 class="article-title mb-1 mt-0">
      <a href="{{ $link }}">{{ $item.Title }}</a>
    </h3>

    <div class="article-metadata">
      {{ if $item.Params.authors }}
        {{ $my_name := "Ariel Shaulker" }}
        {{ $coauthors := slice }}
        {{ range $item.Params.authors }}
          {{ if ne . $my_name }}
            {{ $coauthors = $coauthors | append . }}
          {{ end }}
        {{ end }}

        {{ if gt (len $coauthors) 0 }}
          <div>
            <span>
              With
              {{ range $index, $author := $coauthors }}
                {{ if gt $index 0 }}, {{ end }}
                {{ $author_data := index site.Data.authors $author }}
                {{ if and $author_data $author_data.url }}
                  <a href="{{ $author_data.url }}" target="_blank" rel="noopener">{{ $author }}</a>
                {{ else }}
                  {{ $author }}
                {{ end }}
              {{ end }}
            </span>
          </div>
        {{ end }}
      {{ end }}
    </div>

    {{ with $item.Params.publication }}
      <div class="article-metadata">
        <div class="pub-venue">
          {{ . | markdownify }}
        </div>
      </div>
    {{ end }}

    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>

  </div>
</div>
